@inherits LayoutComponentBase

<div class="relative flex flex-col lg:flex-row min-h-screen">
    <div class="bg-gradient-to-b from-blue-900 to-purple-900 lg:w-64 lg:h-screen lg:sticky lg:top-0">
        <NavMenu />
    </div>

    <main class="flex-1">
        <div class="flex justify-between lg:justify-end items-center h-14 px-4 bg-gray-100 border-b border-gray-300 lg:sticky lg:top-0 lg:z-10">
            <span class="lg:hidden"></span>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="ml-6 text-blue-700 hover:underline whitespace-nowrap">About</a>
        </div>

        <article class="px-4 pt-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet class="fixed bottom-0 left-0 w-full bg-yellow-100 shadow-lg box-border hidden px-5 py-3 z-[1000]">
    An unhandled error has occurred.
    <a href="." class="reload text-blue-600 hover:underline ml-2">Reload</a>
    <span class="dismiss absolute top-2 right-3 cursor-pointer text-xl">🗙</span>
</div>
